h2{
color:navy;

width:10 px ;
}

div {
color:green;
background-color: gold;
padding:20;
margin: 5px;
border:10px solid orange ;


 }



h1 {
color:red ;


 }
h3 {
color: deep-orange ;
 }
 h4 { 
 color:navy;
 }

