h2{
color:navy blue;

width:10 px ;
}

div {
 <style>
#grad1 {
  height: 200px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
</style>
color:green;
background-color:gold;
padding:20;
margin: 5px;
border:10px  solid orange ;


 }



h1 {
color:red ;


 }
h3 {
color: deep-orange ;
 }
 h4 { 
 color:navy;
 }



 

